@import "syntax-variables";

atom-text-editor,
atom-text-editor::shadow {
    .gutter .line-numbers {
        .line-number {
            margin-right: 5px;
        }

        .atom-phpcs-error {
          box-shadow: -2px 0px 0px 0px @syntax-color-removed inset;
        }

        .atom-phpcs-warning {
          box-shadow: -2px 0px 0px 0px @syntax-color-modified inset;
        }

        .atom-phpcs-spare {
          box-shadow: -2px 0px 0px 0px @syntax-color-added inset;
        }
    }
}
